<!--  <app-description [name] = "instrument.name"></app-description>-->

<mat-grid-list
  cols="6"
  rowHeight="4:2.25"
  *ngIf="instrument && this.authService.isLoggedIn() && (this.authService.isVerified() || this.authService.isUserAnonymousLoggedIn)"
  id="container"
>
  <mat-grid-tile [colspan]="6" [rowspan]="1">
    <mat-card>
      <mat-card-header>
        <mat-card-title *ngIf = "!this.isInEditMode">{{ instrument.name | titlecase }}</mat-card-title>
        
          <input *ngIf="this.isInEditMode" id = "titre-input"   [(ngModel)] = "nom"
          
          placeholder="{{instrument.name | titlecase}}"
          type="text" />
          
      </mat-card-header>

      <mat-card-subtitle>
        <div id = "container">
        <section id="rubrique">
          <mat-icon aria-hidden="false" aria-label="Home">fingerprint</mat-icon>
          <p *ngIf="!this.isInEditMode">{{ instrument.familleId | famille }}</p>
         
            <input *ngIf="this.isInEditMode"  [(ngModel)] = "familleId"
            
            placeholder="{{instrument.familleId | famille}}"
            type="text" />
            
        </section>

        <section id="rubrique">
          <mat-icon aria-hidden="false" aria-label="Origine">place</mat-icon>
          <app-traduction *ngIf="!this.isInEditMode" [country]="instrument.origin"></app-traduction>
          <app-country *ngIf="!this.isInEditMode" [name]="instrument.origin"></app-country>
          
            <input  *ngIf="this.isInEditMode"
            [(ngModel)] = "origine"
            placeholder="{{instrument.origin}}"
            type="text" />
            
        </section>
      </div>
     <div *ngIf="this.authService.isUserAnonymousLoggedIn" id = "edit-anon">
       <p>Instrument non-modifiable <br />car vous êtes anonyme</p>
      <button mat-icon-button disabled aria-label="" id = "edit-icon">
        <mat-icon>edit_off</mat-icon>
      </button>

    </div>

    <div id = "edit-anon"*ngIf="!this.authService.isUserAnonymousLoggedIn && this.authService.isLoggedIn()">

      <button mat-icon-button aria-label="" id = "edit-icon" *ngIf="!isInEditMode">
        <mat-icon  (click)="deleteInstrument(instrument.id)">close</mat-icon>
        
      </button>
        <button mat-icon-button aria-label="" id = "edit-icon" >
          <mat-icon *ngIf="!isInEditMode" (click)="toggleEditMode()">mode_edit</mat-icon>
          <mat-icon *ngIf="isInEditMode" (click)="toggleEditMode()" (click) = "modifyInstrument(instrument.id)">done</mat-icon>
        </button>

    </div>
      </mat-card-subtitle>

   
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="3">
    <mat-card id="icon-card">
      <img
        mat-card-image
        src="{{ instrument.img }}"
        alt="Picture of {{ instrument.name }}"
        id="icone"
      />
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="5" [rowspan]="3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Description</mat-card-title>
        <mat-card-subtitle *ngIf="descWiki"
          >générée depuis Wikipedia</mat-card-subtitle
        >
        <mat-card-subtitle *ngIf="!descWiki"
          >générée depuis l'API, pas de page Wikipedia</mat-card-subtitle
        >
      </mat-card-header>

      <mat-card-content *ngIf="!isInEditMode">
        <app-description 
          [name]="instrument.wikiSearch"
          (newItemEvent)="formatWiki($event)"
          *ngIf="descWiki"
        ></app-description>
        <p *ngIf="!descWiki">{{ instrument.description }}</p>
      </mat-card-content>

      <mat-card-content *ngIf="isInEditMode">
        <label for="wiki">Terme de recherche wikipedia</label>
        <input name = "wiki" *ngIf="this.isInEditMode"
        [(ngModel)] = "descriptionWiki"
        placeholder="{{instrument.wikiSearch}}"
        type="text" />
        <br>
        <textarea cols = "100" rows = "5" *ngIf="this.isInEditMode"[(ngModel)] = "desc">{{instrument.description}}</textarea>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<app-log-not-found *ngIf="!this.authService.isLoggedIn() && (!this.authService.isUserAnonymousLoggedIn || !this.authService.isVerified())"></app-log-not-found>
