.map-container {
    position: relative;
 
 height: 77vh;

  }
  
  .map-frame {

    height: 100%;
  }
  
  #map {
    height: 100%;
  }

  .popupCustom .leaflet-popup-tip,
.popupCustom .leaflet-popup-content-wrapper {
    background: #e0e0e0;
    color: #234c5e;
}
