/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Merienda";
    src: local("Merienda-Regular"), url(./assets/fonts/Merienda-Regular.ttf) format("truetype");
}



* {

    font-family: "Merienda";

}
p,a {

    font-family: "Merienda"!important;

}
html, body {
    
    box-sizing: border-box;
    margin: 0;
    font-size: 2em;
}
html {


    width: 100%;

}

@import "~leaflet/dist/leaflet.css";