/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Itim";
  src: url(./assets/fonts/Itim.ttf) format("truetype");
}

* {
  font-family: "Itim";
}
p,
a {
  font-family: "Itim" !important;
}
html,
body {
  box-sizing: border-box;
  margin: 0;
  font-size: 2em;
}
html, body {  min-height: 100vh;
  height: auto;
  margin: 0;

}


::-webkit-scrollbar {
  width: 10px;
  background: #555555;
}
::-webkit-scrollbar-track {
  background: #555555;
}
::-webkit-scrollbar-thumb {
  background: var(--main-background);
}
::-webkit-scrollbar-thumb:hover {
  background: var(main--background);
  cursor: pointer;
}

@import "~leaflet/dist/leaflet.css";
