
.mat-cell {

    padding: 20px;

}

.mat-cell:nth-of-type(4) {

    width: 10%;
    
}
img {

width: 120px;

}

table {
    
    width: 80%;
    margin: 0 auto;

    margin-top : 2em;
    padding-bottom: 2em;
  }