
.mat-cell {

    padding: 20px;

}

.mat-cell:nth-of-type(4) {

    width: 10%;
    
}
img {

width: 120px;

}

#flag {

width: 100% !important;

}

table {
    
    width: 80%;
    margin: 0 auto;

    margin-top : 2em;
    padding-bottom: 2em;
  }

  tr * {

    color: white;

  }

  tr:hover {

cursor: pointer;
background: var(--main-background);
transition: 200ms;

  }

  tr:hover * {

    color: var(--main-txt);

  }

  mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell {


    border-bottom-color: var(--main-background);

  }